@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    overflow-x: hidden;
    position: relative;
}

/* utility class  */
.flex-r {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    padding: 15px 10px;
    width: 100%;
}

/* section */
.sec{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.sec-active{
    display: flex;
}
#home{
    background-color: white;
    justify-content: flex-start !important;
}
header{
    width: 100%;
    height: 40px;
    justify-content: space-between !important;
    border-bottom: 1px solid #eee;
}
.logo{
    font-size: 25px;
    font-weight:bold ;
}
.header-link{
    gap: 0px 15px;
}
.header-link i{
    font-size: 24px;
    cursor: pointer;
}

.header-link i:nth-child(1){
   border: 2px solid black;
   padding: 2px;
   font-size: 15px;
   border-radius: 5px;
}

/* story wrapper  */
.story-wrapper{
    width: 100%;
    height: 70px;
    gap: 0px 20px;
    padding: 10px;
    margin-top: 10px;
}

.story{
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 50%;
    /* box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.233); */
    position: relative;
}
.story::after{
    content: " ";
    position:absolute;
    width: 56px;
    height: 56px;
    border: 2px solid orange;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.add-story{
    position: absolute;
    bottom: 0px;
    right: -10px;
    z-index: +1;
    font-size: 16px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    background-color: blue;
    color: #ffffff;
    border-radius: 50%;
}
.post-wrapper{
    /* border: 1px solid black; */
    padding: 10px 0px;
}
.post{
    width:400px;
    height: 350px;
    border-radius: 20px;
    background-color: #eee;
}
.post-account-info{
    justify-content: flex-start;
    gap: 0px 10px;
}
.account-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee;
}
.account-name{
    align-items: flex-start;
    padding: 10px;
}

#search{
    background-color: blue;
}
#reel{
    background-color: pink;
}
#notify{
    background-color: skyblue;
}
#profile{
    background-color: green;
}

/* * footer sectin  */

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: #ffffff;
    justify-content: space-between !important;
}

footer>div {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
    cursor: pointer;
}

footer div i{
    font-size: 15px;
}


footer > div.active{
    background-color: blue;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.123);
}
footer div.active i{
    color: #ffffff;
}
